/* ArticleListPage.module.css */
.articleListPage {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .articleListPage h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .articleList {
    list-style-type: none;
    padding: 0;
  }
  
  .articleItem {
    display: flex;
    margin-bottom: 10px;
    border: 1px solid var(--color--3);
    padding: 5px;
    border-radius: 10px;
    background-color: var(--color--2);
  }
  
  .articleLink {
    text-decoration: none;
    color: inherit;
  }
  
  .articleTitle {
    margin: 0;
  }
  
  .articleAuthor {
    font-size: 1em;
    color: #555;
  }

  .date {
    margin-top: -15px;
  }
  