.create_post {
    text-align: center;
    margin-top: 8vh;
}

.create_post h2 {
    font-size: 2.2em;
}

.create_post p{
    color: var(--color--6);
    margin-bottom: 2em;
}

.optionalText {
  font-size: 12px; /* Tamanho de fonte pequeno */
  font-style: italic; /* Estilo de fonte itálico para destacar */
  color: #888; /* Cor de texto cinza para destacar */
}

.create_post button {
    width: 100%;
}

.fileInput{
    display: block;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }






@media (max-width: 768px) {
    .create_post {
        max-width: 100%; /* Reduzindo a largura máxima do componente em telas menores */
    }

    .create_post h2 {
        font-size: 1.8em; /* Ajustando o tamanho da fonte do título para telas menores */
    }

    .optionalText {
        font-size: 10px; /* Ajustando o tamanho da fonte para telas menores */
    }
}